.message{"data-id": "#{message.id}"}
  .message__upper
    .message__members 
      = message.user.name
    %a.message__timestamp
      = message.created_at.to_s(:date)
  .message__chat 
    - if message.content.present?
      %p.message__content
        = message.content
    = image_tag message.image.url, class: 'message__image' if message.image.present?