.header-bar
%section.message-bar
  .side_bar
    = render "side-bar"
  .chat
    .header
      .header-left
        .header-left__title 
          = @group.name
        .header-left__members 
        -@group.users.each do |user|
          .each-member 
            = user.name
      .header-right__edi 
        = link_to "Edit", edit_group_path(@group)
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'